body,
html {
  margin: 0;
  font-family: "Acme", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Acme";
  src: local("Acme-Regular"),
    url("./fonts/Acme-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin";
  src: local("JosefinSans-Regular"),
    url("./fonts/JosefinSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Wix";
  src: local("WixMadeforDisplay-Medium"),
    url("./fonts/WixMadeforDisplay-Medium.ttf") format("truetype");
}